@import './base';
// @import '../../../../../node_modules/ng-zorro-antd/src/style/themes/';

$layout-sider-background: #ffffff;
$layout-trigger-background: #ffffff;
$layout-header-background: #ffffff;
